#p-wrap {
  display: block;
  margin: 0 auto; }

.container {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 1100px; }

#p-header {
  background-image: url("../images/common/bg-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
  transition: all 1s ease-in-out;
  width: 100%; }
  #p-header figure {
    display: block;
    float: left;
    height: 55px;
    margin: 0 0 0 50px;
    overflow: hidden;
    width: 59px; }
    #p-header figure img {
      display: block;
      height: 100%;
      width: 100%; }
      #p-header figure img:hover {
        opacity: .8; }
  #p-header nav {
    display: block;
    float: right;
    margin: 20px 0 0 0;
    overflow: hidden;
    padding: 0; }
    #p-header nav a {
      color: #956f25;
      display: block;
      float: left;
      font-family: 'Belleza', sans-serif;
      font-size: 18px;
      line-height: 20px;
      margin-left: 50px;
      padding: 0 0 5px;
      position: relative;
      text-align: center;
      transition: .3s; }
      #p-header nav a:last-child {
        margin-right: 0; }
      #p-header nav a:hover {
        color: #e7141a; }
        #p-header nav a:hover:before {
          background: #e7141a;
          left: 0;
          width: 90%; }
      #p-header nav a:before {
        background: #e7141a;
        bottom: 0;
        content: '';
        display: block;
        height: 3px;
        margin-top: 5px;
        position: absolute;
        right: 0;
        transition: width .2s ease;
        width: 0;
        -webkit-transition: width .2s ease; }

#s-header {
  background-image: url("../images/common/bg-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
  position: fixed;
  transition: all .5s ease-in-out;
  top: 0;
  width: 100%; }
  #s-header figure {
    display: block;
    float: left;
    height: 55px;
    margin: 0 0 0 50px;
    overflow: hidden;
    width: 59px; }
    #s-header figure img {
      display: block;
      height: 100%;
      width: 100%; }
      #s-header figure img:hover {
        opacity: .8; }
  #s-header nav {
    display: block;
    float: right;
    margin: 20px 0 0 0;
    overflow: hidden;
    padding: 0; }
    #s-header nav a {
      color: #956f25;
      display: block;
      float: left;
      font-family: 'Belleza', sans-serif;
      font-size: 18px;
      line-height: 20px;
      margin-left: 50px;
      padding: 0 0 5px;
      position: relative;
      text-align: center;
      transition: .3s; }
      #s-header nav a:last-child {
        margin-right: 0; }
      #s-header nav a:hover {
        color: #e7141a; }
        #s-header nav a:hover:before {
          background: #e7141a;
          left: 0;
          width: 90%; }
      #s-header nav a:before {
        background: #e7141a;
        bottom: 0;
        content: '';
        display: block;
        height: 3px;
        margin-top: 5px;
        position: absolute;
        right: 0;
        transition: width .2s ease;
        width: 0;
        -webkit-transition: width .2s ease; }

.stuck {
  background-color: #f7f7f7;
  background-image: none !important;
  position: fixed;
  top: 0;
  padding: 12px !important;
  transition: all .2s ease-in-out;
  z-index: 999; }
  .stuck figure {
    height: 45px !important;
    width: 49px !important; }
  .stuck nav {
    margin: 12px 0 0 0 !important; }
    .stuck nav a {
      font-size: 14px !important; }

#p-banner {
  display: block;
  margin: 0 auto; }
  #p-banner figure {
    display: block;
    overflow: hidden;
    width: 100%; }
    #p-banner figure img {
      display: block;
      width: 100%; }
  #p-banner section.other-banner {
    display: block;
    margin: 0 auto;
    padding: 80px 0;
    width: 200px; }
    #p-banner section.other-banner img {
      display: block;
      margin: 0 auto;
      width: 50px; }
    #p-banner section.other-banner h2 {
      color: #956f25;
      font-family: 'Belleza', sans-serif;
      font-size: 45px;
      line-height: 45px;
      text-align: center; }
    #p-banner section.other-banner p {
      color: #e7141a;
      font-size: 16px;
      line-height: 16px;
      text-align: center; }

#p-contents-wrap {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: relative; }

#p-contents {
  display: block; }
  #p-contents h1.main-title {
    background-image: url("../images/common/bg-02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #956f25;
    display: block;
    font-family: 'Belleza', sans-serif;
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 70px;
    padding: 35px;
    text-align: center;
    width: 100%; }
    #p-contents h1.main-title span.trans {
      display: block;
      font-size: 15px;
      line-height: 15px; }
  #p-contents section {
    display: block;
    margin: 0 0 150px;
    overflow: hidden;
    padding: 0; }
    #p-contents section aside article {
      width: 590px; }
      #p-contents section aside article h2 {
        color: #956f25;
        font-family: 'Belleza', sans-serif;
        font-size: 34px;
        line-height: 34px;
        margin: 15px 0 10px; }
      #p-contents section aside article h3 {
        color: #e7141a;
        font-size: 19px;
        line-height: 19px;
        margin-bottom: 10px; }
      #p-contents section aside article p.desc {
        color: #000;
        font-size: 18px;
        font-weight: bold;
        margin: 20px 0 15px; }
      #p-contents section aside article figure.sp-item {
        display: none;
        margin-bottom: 10px;
        width: 100%; }
        #p-contents section aside article figure.sp-item img {
          display: block;
          width: 100%; }
      #p-contents section aside article p.info {
        font-size: 16px;
        line-height: 2.4;
        margin-bottom: 50px; }
      #p-contents section aside article a.read-more {
        background-color: #956f25;
        border-radius: 8px;
        color: #fff;
        display: block;
        font-family: 'Belleza', sans-serif;
        font-size: 18px;
        line-height: 18px;
        margin: 0 auto;
        padding: 8px 0 8px;
        text-align: center;
        width: 198px; }
        #p-contents section aside article a.read-more:hover {
          opacity: .8; }
    #p-contents section aside figure.c-item img {
      display: block;
      width: 100%; }
    #p-contents section.communication article {
      float: left; }
    #p-contents section.communication figure {
      float: right;
      width: 482px; }
    #p-contents section.resources article {
      float: right; }
    #p-contents section.resources figure {
      float: left;
      width: 431.5px; }
    #p-contents section.services article {
      float: left; }
    #p-contents section.services figure {
      float: right;
      width: 482px; }
    #p-contents section.partner article {
      float: right; }
    #p-contents section.partner figure {
      float: left;
      width: 439px; }
  #p-contents .company-information {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    width: 100%; }
    #p-contents .company-information .gallery {
      display: block;
      float: left;
      margin-right: 50px;
      overflow: hidden;
      width: 400px; }
      #p-contents .company-information .gallery .slider-single .cover {
        display: block;
        height: 450px;
        overflow: hidden;
        width: 400px; }
        #p-contents .company-information .gallery .slider-single .cover img {
          display: block;
          width: 100%;
          object-fit: cover;
          height: 100%; }
      #p-contents .company-information .gallery .slider-nav {
        margin-top: 15px; }
        #p-contents .company-information .gallery .slider-nav .slick-track {
          width: 100% !important; }
        #p-contents .company-information .gallery .slider-nav .slider-items {
          display: block;
          height: 88px;
          margin-right: 15px;
          width: 88px !important; }
          #p-contents .company-information .gallery .slider-nav .slider-items:last-child {
            margin-right: 0; }
          #p-contents .company-information .gallery .slider-nav .slider-items .cover {
            display: block;
            height: 100%;
            margin: 0;
            overflow: hidden;
            width: 100%; }
            #p-contents .company-information .gallery .slider-nav .slider-items .cover img {
              display: block;
              height: 100%;
              object-fit: cover;
              width: 100%; }
    #p-contents .company-information .detailed-info {
      display: block;
      float: left;
      margin-bottom: 100px;
      width: 645px; }
      #p-contents .company-information .detailed-info table.info-lists {
        border-collapse: collapse; }
        #p-contents .company-information .detailed-info table.info-lists tr td {
          border-bottom: 2px dotted #000;
          border-left: 2px dotted #fff;
          border-right: 2px dotted #fff;
          font-size: 16px;
          padding: 20px 0; }
          #p-contents .company-information .detailed-info table.info-lists tr td:nth-child(1) {
            padding-left: 22px;
            width: 180px; }
          #p-contents .company-information .detailed-info table.info-lists tr td a {
            color: #031581; }
  #p-contents .branch-office .branches {
    display: block;
    margin: 0 auto 100px;
    overflow: hidden;
    width: 890px; }
    #p-contents .branch-office .branches:last-child {
      margin-bottom: 0; }
    #p-contents .branch-office .branches .map {
      display: block;
      float: left;
      margin-right: 75px;
      overflow: hidden;
      width: 415px; }
      #p-contents .branch-office .branches .map iframe {
        display: block;
        height: 180px;
        width: 100%; }
      #p-contents .branch-office .branches .map .go-to {
        background-color: #333;
        border-radius: 4px;
        color: #fff;
        display: block;
        float: right;
        font-size: 12px;
        line-height: 12px;
        margin-top: 10px;
        padding: 6px 10px; }
    #p-contents .branch-office .branches .address {
      display: block;
      float: left;
      line-height: 2.4;
      width: 400px; }
      #p-contents .branch-office .branches .address h5 {
        font-size: 22px;
        font-weight: bold; }
      #p-contents .branch-office .branches .address p {
        font-size: 16px; }
  #p-contents .contact-form {
    display: block; }
<<<<<<< HEAD
    #p-contents .contact-form .c-intro {
      font-size: 15px;
      margin: 0 auto;
      width: 290px; }
    #p-contents .contact-form .table-form {
      border-collapse: separate;
      border-spacing: 15px 30px;
      margin: 10px auto 0;
      width: 950px; }
      #p-contents .contact-form .table-form tr td {
        overflow: hidden; }
        #p-contents .contact-form .table-form tr td:nth-child(1) {
          width: 150px; }
          #p-contents .contact-form .table-form tr td:nth-child(1) p {
            display: inline;
            color: #956f25;
            font-size: 15px;
            line-height: 15px;
            margin-bottom: 30px;
            width: 200px; }
        #p-contents .contact-form .table-form tr td:nth-child(2) {
          width: 45px; }
          #p-contents .contact-form .table-form tr td:nth-child(2) .required {
            display: block;
            border: 1px solid #e7141a;
            color: #e7141a;
            font-size: 12px;
            line-height: 12px;
            padding: 6px 0;
            text-align: center;
            width: 100%; }
        #p-contents .contact-form .table-form tr td:nth-child(3) .wrapper {
          display: inline;
          position: relative;
          padding-left: 25px;
          margin-right: 50px;
          cursor: pointer;
          font-size: 15px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          #p-contents .contact-form .table-form tr td:nth-child(3) .wrapper input {
            position: absolute;
            opacity: 0; }
          #p-contents .contact-form .table-form tr td:nth-child(3) .wrapper .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 15px;
            width: 15px;
            background-color: #eee;
            border-radius: 50%; }
            #p-contents .contact-form .table-form tr td:nth-child(3) .wrapper .checkmark:after {
              top: 4px;
              left: 4px;
              width: 7px;
              height: 7px;
              border-radius: 50%;
              background: white; }
            #p-contents .contact-form .table-form tr td:nth-child(3) .wrapper .checkmark:after {
              content: "";
              position: absolute;
              display: none; }
          #p-contents .contact-form .table-form tr td:nth-child(3) .wrapper:hover input ~ .checkmark {
            background-color: #ccc; }
          #p-contents .contact-form .table-form tr td:nth-child(3) .wrapper input:checked ~ .checkmark {
            background-color: #2196F3; }
          #p-contents .contact-form .table-form tr td:nth-child(3) .wrapper input:checked ~ .checkmark:after {
            display: block; }
        #p-contents .contact-form .table-form tr td:nth-child(3) input[type="text"] {
          background-color: #eee;
          border: none;
          color: #808080;
          font-size: 14px;
          line-height: 14px;
          padding: 15px;
          outline: none;
          width: 100%; }
        #p-contents .contact-form .table-form tr td:nth-child(3) input[type="submit"] {
          background-color: #878686;
          border: 0;
          border-radius: 20px;
          color: #fff;
          cursor: pointer;
          display: block;
          font-size: 20px;
          margin: 50px auto;
          outline: 0;
          padding: 15px 0;
          text-align: center;
          transition: .3s;
          width: 560px; }
          #p-contents .contact-form .table-form tr td:nth-child(3) input[type="submit"]:hover {
            opacity: .8; }
        #p-contents .contact-form .table-form tr td:nth-child(3) textarea {
          background-color: #eee;
          border: none;
          color: #808080;
          font-size: 14px;
          padding: 15px;
          width: 100%; }
        #p-contents .contact-form .table-form tr td:nth-child(3) .screening {
          display: block;
          font-size: 15px;
          line-height: 2.4;
          margin: 0 auto;
          text-align: center; }
        #p-contents .contact-form .table-form tr td:nth-child(3) .contact-phone, #p-contents .contact-form .table-form tr td:nth-child(3) .head-office {
          display: block;
          font-size: 15px;
          line-height: 2;
          margin: 0 auto;
          width: 560px; }
          #p-contents .contact-form .table-form tr td:nth-child(3) .contact-phone .bold, #p-contents .contact-form .table-form tr td:nth-child(3) .head-office .bold {
            font-size: 17px;
            font-weight: bold; }
          #p-contents .contact-form .table-form tr td:nth-child(3) .contact-phone strong, #p-contents .contact-form .table-form tr td:nth-child(3) .head-office strong {
            font-weight: bold; }
          #p-contents .contact-form .table-form tr td:nth-child(3) .contact-phone .ooki, #p-contents .contact-form .table-form tr td:nth-child(3) .head-office .ooki {
            font-size: 32px;
            font-weight: bold;
            line-height: 32px; }
        #p-contents .contact-form .table-form tr td:nth-child(3) .head-office {
          margin-top: 20px; }
=======
>>>>>>> parent of dfab5bd... Updates some elements

#p-footer {
  background-image: url("../images/common/bg-03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 65px 0 15px; }
  #p-footer .contact {
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 75px; }
    #p-footer .contact h3 {
      color: #956f25;
      display: block;
      font-family: 'Belleza', sans-serif;
      font-size: 45px;
      line-height: 45px;
      margin: 0 auto 10px;
      overflow: hidden;
      padding: 0;
      position: relative;
      text-align: center;
      width: 400px; }
      #p-footer .contact h3:before {
        content: '';
        display: block;
        border-top: 2px solid #956f25;
        position: absolute;
        left: 0;
        top: 50%;
        width: 20%; }
      #p-footer .contact h3:after {
        content: '';
        display: block;
        border-top: 2px solid #956f25;
        position: absolute;
        right: 0;
        top: 50%;
        width: 20%; }
    #p-footer .contact span {
      color: #e7141a;
      display: block;
      font-size: 20px;
      line-height: 20px;
      text-align: center; }
    #p-footer .contact p {
      display: block;
      font-size: 16px;
      line-height: 2.4;
      margin: 25px auto 40px;
      width: 730px; }
    #p-footer .contact .btn {
      border-radius: 20px;
      display: block;
      font-size: 20px;
      line-height: 20px;
      margin: 0 auto 25px;
      padding: 20px;
      text-align: center;
      transition: .35s;
      width: 565px; }
      #p-footer .contact .btn.primary {
        background-color: #956f25;
        color: #fff; }
        #p-footer .contact .btn.primary:hover {
          opacity: .8; }
      #p-footer .contact .btn.secondary {
        background-color: #fff;
        border: 1px solid #c6c6c6;
        color: #1b1b1b; }
        #p-footer .contact .btn.secondary:hover {
          border: 1px solid #956f25;
          background-color: #956f25;
          color: #fff; }
  #p-footer .copyright {
    display: block;
    margin: 25px auto 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 930px; }
    #p-footer .copyright .logo-footer {
      display: block;
      float: left;
      overflow: hidden; }
      #p-footer .copyright .logo-footer img {
        display: block;
        float: left;
        height: 42px;
        width: 45px; }
      #p-footer .copyright .logo-footer a {
        color: #956f25;
        display: block;
        float: left;
        font-size: 14px;
        line-height: 14px;
        margin: 10px 0 0 10px; }
    #p-footer .copyright .copy {
      display: block;
      float: right;
      font-size: 12px;
      line-height: 12px;
      margin-top: 12px; }

@media (max-width: 575px) {
  .container {
    width: 95%; }

  #p-header {
    display: none; }

  #p-contents h1.main-title {
    font-size: 25px;
    line-height: 25px;
    margin: 0 0 20px;
    padding: 15px; }

  #p-contents section {
    margin: 0 0 35px; }

  #p-contents section aside article {
    width: 100%; }

  #p-contents section aside article h2 {
    font-size: 16px;
    line-height: 16px;
    margin: 0px 0 10px; }

  #p-contents section aside article h3 {
    font-size: 11px;
    line-height: 11px;
    margin-bottom: 10px; }

  #p-contents section aside article p.desc {
    font-size: 9px;
    margin: 10px 0 10px; }

  #p-contents section aside article p.info {
    font-size: 8px;
    line-height: 2.4;
    margin-bottom: 25px; }

  #p-contents section aside article figure.sp-item {
    display: block; }

  #p-contents section aside article a.read-more {
    font-size: 9px;
    line-height: 9px;
    padding: 8px 0 6px;
    width: 150px; }

  #p-contents section aside figure.c-item {
    display: none; }

  #p-footer {
    padding: 35px 0 10px; }

  #p-footer .contact {
    padding-bottom: 35px; }

  #p-footer .contact h3 {
    font-size: 22px;
    line-height: 22px;
    margin: 0 auto 10px;
    width: 100%; }

  #p-footer .contact h3:before {
    left: 30px; }

  #p-footer .contact h3:after {
    right: 30px; }

  #p-footer .contact span {
    font-size: 11px;
    line-height: 11px; }

  #p-footer .contact p {
    font-size: 8px;
    margin: 15px auto 20px;
    width: 100%; }

  #p-footer .contact .btn {
    font-size: 11px;
    line-height: 11px;
    margin: 0 auto 15px;
    padding: 14px;
    width: 90%; }

  #p-footer .copyright {
    margin: 15px auto 0;
    padding: 0 0 5px;
    width: 100%; }

  #p-footer .copyright .logo-footer {
    margin: 0 auto;
    float: none;
    width: 150px; }

  #p-footer .copyright .logo-footer img {
    height: 32px;
    width: 35px; }

  #p-footer .copyright .logo-footer a {
    font-size: 10px;
    line-height: 10px; }

  #p-footer .copyright .copy {
    float: none;
    font-size: 9px;
    line-height: 9px;
    margin-top: 12px;
    text-align: center;
    width: 100%; } }
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 95%; }

  #p-header {
    display: none; }

  #p-contents h1.main-title {
    font-size: 25px;
    line-height: 25px;
    margin: 0 0 20px;
    padding: 15px; }

  #p-contents section {
    margin: 0 0 35px; }

  #p-contents section aside article {
    width: 100%; }

  #p-contents section aside article h2 {
    font-size: 16px;
    line-height: 16px;
    margin: 0px 0 10px; }

  #p-contents section aside article h3 {
    font-size: 11px;
    line-height: 11px;
    margin-bottom: 10px; }

  #p-contents section aside article p.desc {
    font-size: 9px;
    margin: 10px 0 10px; }

  #p-contents section aside article p.info {
    font-size: 8px;
    line-height: 2.4;
    margin-bottom: 25px; }

  #p-contents section aside article figure.sp-item {
    display: block; }

  #p-contents section aside article a.read-more {
    font-size: 9px;
    line-height: 9px;
    padding: 8px 0 6px;
    width: 150px; }

  #p-contents section aside figure.c-item {
    display: none; }

  #p-footer {
    padding: 35px 0 10px; }

  #p-footer .contact {
    padding-bottom: 35px; }

  #p-footer .contact h3 {
    font-size: 22px;
    line-height: 22px;
    margin: 0 auto 10px;
    width: 100%; }

  #p-footer .contact h3:before {
    left: 30px; }

  #p-footer .contact h3:after {
    right: 30px; }

  #p-footer .contact span {
    font-size: 11px;
    line-height: 11px; }

  #p-footer .contact p {
    font-size: 8px;
    margin: 15px auto 20px;
    width: 100%; }

  #p-footer .contact .btn {
    font-size: 11px;
    line-height: 11px;
    margin: 0 auto 15px;
    padding: 14px;
    width: 90%; }

  #p-footer .copyright {
    margin: 15px auto 0;
    padding: 0 0 5px;
    width: 100%; }

  #p-footer .copyright .logo-footer {
    margin: 0 auto;
    float: none;
    width: 150px; }

  #p-footer .copyright .logo-footer img {
    height: 32px;
    width: 35px; }

  #p-footer .copyright .logo-footer a {
    font-size: 10px;
    line-height: 10px; }

  #p-footer .copyright .copy {
    float: none;
    font-size: 9px;
    line-height: 9px;
    margin-top: 12px;
    text-align: center;
    width: 100%; } }

/*# sourceMappingURL=stylesheet.css.map */
